// COLORS
$primary-color: #DB85D4;
$secondary-color: #C778DD;

$white-color: #282C33;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #FFFCF6; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
